<div class="body">
    <div class="row" routerLink="analytics" (click)="path='analytics'" [ngStyle]="path=='analytics' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/data-analytics.png">
        <div class="title">Analytics</div>
    </div>

    <div class="row" routerLink="users" (click)="path='users'" [ngStyle]="path=='users' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/group.png">
        <div class="title">Users</div>
    </div>
    <div class="row" routerLink="companies" (click)="path='companies'" [ngStyle]="path=='companies' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/business-and-trade.png">
        <div class="title">Companies</div>
    </div>

    <div class="row" routerLink="services" (click)="path='services'" [ngStyle]="path=='services' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/share.png">
        <div class="title">Services</div>
    </div>

    <div class="row" routerLink="help" (click)="path='help'" [ngStyle]="path=='help' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/help.png">
        <div class="title">Help</div>
    </div>

    <div class="row" routerLink="reports" (click)="path='reports'" [ngStyle]="path=='reports' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/ban.png">
        <div class="title">Reports</div>
    </div>

    <div class="row" routerLink="logs" (click)="path='logs'" [ngStyle]="path=='logs' ? {'background-color':'gray'}:{}">
        <img src="assets/admin/log-file-format.png">
        <div class="title">Logs</div>
    </div>

    
</div>
