@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

.html {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(16, 23, 40, 255);
}

.body {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
        color: white;
        font-size: 35px;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .videoPlayer{
            width: 300px;
            height: auto;
        }

        h3 {
            color: white;
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            color: rgb(180, 176, 176);
            margin: 0;
            width: 60%;
            font-size: 17px;
            font-family: 'Tajawal', sans-serif;
        }

        .button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 25px;
            font-size: 16px;
            font-weight: bold;
            font-family: 'Tajawal', sans-serif;
            margin-left: 10px;
            padding: 2px 15px;
            border-radius: 5px;
            color: white;
            background-color: rgb(52, 1, 134);
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        .button:hover {
            transform: scale(1.1);
        }

        input,
        .input {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            width: 300px;
            height: 30px;
            padding-left: 5px;
            color: white;
        }

        .input::-webkit-outer-spin-button,
        .input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        option {
            background-color: rgba(16, 23, 40, 255);
        }

        .chooseImage {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
            z-index: -1;
        }

        img {
            width: 300px;
            max-height: 200px;
            border-radius: 10px;
            border: 1px solid white;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            margin-bottom: 50px;
            margin-top: 20px;
            object-fit: cover;
        }
        .videoImage{
            border:0px solid transparent;
            width: 150px;
        }

        img:hover {
            transform: scale(1.1);
        }

        .column {
            display: flex;
            flex-direction: column;
        }

        .row2 {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            color: white;
            margin-top: 5px;
            font-size: 14px;
        }

        textarea {
            width: 300px;
            height: 110px;
            border-radius: 10px;
            padding-left: 5px;
            padding-top: 5px;
            font-family: 'Tajawal', sans-serif;
            resize: none;
            font-size: 15px;
            font-weight: bold;
        }

        textarea::placeholder {
            color: black;
            font-family: 'Tajawal', sans-serif;
            font-size: 20px;
        }

        textarea:focus {
            outline: none;
        }

        .briefDescription {
            height: 190px;
        }
    }
    .continue{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 80px;
        button {
            width: 120px;
            height: 35px;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Tajawal', sans-serif;
            padding: 2px 5px;
            border-radius: 5px;
            border: 0px solid transparent;
            color: white;
            background-color: rgb(52, 1, 134);
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }
    
        button:hover {
            transform: scale(1.1);
        }
    }
    .row3{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
}