<div class="body">
    <h2>Ready to start selling on our B2B website? Here's what you need to do:</h2>
    <div class="list">
        <div class="row">
            <img src="assets/start_selling_navbar/goal.png" >
            <div class="column">
                <h3>Understand what makes a successful company profile:</h3>
                <div class="h5">Research successful companies on our platform and analyze their profiles to learn what works.</div>
                <div class="h5">Take note of their descriptions, services offered, portfolios, reviews, and other elements that stand out.</div>
            </div>
        </div>
        <div class="row">
            <img class="dodontdo" src="assets/start_selling_navbar/dodontdo.png" >
            <div class="column">
                <h3>Discover the do's and don'ts:</h3>
                <div class="h5">Read our guidelines and policies to ensure you're always on the right track.</div>
                <div class="h5">We have certain rules and regulations that you need to follow to maintain a high standard of quality and professionalism.</div>
            </div>
        </div>
        <div class="row">
            <img src="assets/start_selling_navbar/enterprise.png" >
            <div class="column">
                <h3>Create your company profile:</h3>
                <div class="h5">Add your company logo, description, and professional information.</div>
                <div class="h5">Make sure to highlight your company's strengths, unique selling points, and what sets you apart from the competition.</div>
            </div>
        </div>
        <div class="row">
            <img src="assets/start_selling_navbar/customer-service.png" >
            <div class="column">
                <h3>Publish your services:</h3>
                <div class="h5">Create listings for the services you're offering and start selling instantly. </div>
                <div class="h5">Make sure to provide clear and concise descriptions, pricing information, and any other relevant details that potential buyers need to know.</div>
            </div>
        </div>
        <div class="row">
            <img src="assets/start_selling_navbar/portfolio.png" >
            <div class="column">
                <h3>Showcase your portfolio:</h3>
                <div class="h5"> If possible, showcase your previous work, projects, and achievements to establish credibility and showcase your expertise in your industry.</div>
            </div>
        </div>
        <div class="row">
            <img src="assets/start_selling_navbar/chat.png" >
            <div class="column">
                <h3>Encourage customer reviews:</h3>
                <div class="h5">Encourage your satisfied customers to leave reviews on your profile to build trust and credibility with potential buyers.</div>
            </div>
        </div>
        <div class="row">
            <img src="assets/start_selling_navbar/target.png" >
            <div class="column">
                <h3>Offer excellent customer support:</h3>
                <div class="h5">Be responsive to inquiries and provide helpful information to potential customers. </div>
                <div class="h5">Make sure to maintain a high level of professionalism and customer service to keep your customers satisfied.</div>
            </div>
        </div>
    </div>
    <h4>By following these steps, you can create a successful company profile on our B2B website and start selling your services to potential buyers.</h4>
    <div class="button" (click)="onContinue()">Continue</div>
</div>
