<div class="category1">
    <div class="category">
        <div class="text3">Graphics & Design</div>
        <div class="text3">Digital Marketing</div>
        <div class="text3">Writing & Translation</div>
        <div class="text3">Video & Animation</div>
        <div class="text3">Music & Audio</div>
        <div class="text3">Programming & Tech</div>
        <div class="text3">Photography</div>
        <div class="text3">Business</div>
        <div class="text3">AI Services</div>
    </div>
</div>
