.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: rgba(16,23,40,255);
    
    h1{
        color: #9340ff;
        font-size: 40px;
        font-weight: bold;
    }
    h3{
        color: white;
        font-size: 15px;
        padding-left: 5px;
        padding-top: 7px;
    }
    h4{
        color: blue;
        font-size: 15px;
        padding-left: 5px;
        padding-top: 7px;
        cursor: pointer;
    }
    span{
        height: 20px;
    }
    .input {
        height: 40px;
        width: 400px;
        border-radius: 20px;
        border: 0;
        background-color: rgb(255, 255, 255);
        padding-left: 20px;
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
    option{
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    #country{
      font-size: 14px;
      color: black;
      font-weight: bold;
    }
    .input::placeholder {
        color: black;
        font-size: 14px;
        font-weight: bold;
      }
      .container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .container input {
        
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: rgba(16,23,40,255);
        border: 2px rgb(255, 255, 255) solid;
        border-radius: 3px;
      }
      .unchecked .checkmark {
        border: 2px red solid;
      }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgba(16,23,40,255);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 
    p{
      color: green;
      font-size: 16px;
      font-weight: bold;
      margin-top: 0px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }
    p:hover {
      transform: scale(1.1);
      color: white;
    }
  }
  .center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  .remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .join{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(232,61,128,255);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    border: 5px white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.join:hover {
    transform: scale(1.1);
    color: white;
  }



  .input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    -webkit-appearance: none;
  }
  .input:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  select.input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L5 5L10 0' fill='%23333333'/%3E%3C/svg%3E") no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
    cursor: pointer;
    color: white;
  }
  .error{
    color: red;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .pass_eye{
    margin-bottom: -20px;
  }
 .eye{
  position: relative;

  bottom: 20px;
  left: 365px;
  transform: translateY(-50%);
  width: 20px;
  color: #ccc;
  cursor: pointer;
 }
 .capatcha {
  transform: scale(0.8); /* Increase size by 50% */
  transform-origin: 0 0; /* Set scaling origin to top-left corner */
  margin-left: 50px;
}


.verf {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 200px;
  background-color: rgba(16, 23, 40, 0.9);
  z-index: 9999;
  .input{
    width: 400px;
    margin-top: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  .input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  .resend{
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .text{
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
  .timer{
    font-size: 13px;
    color: rgb(156, 155, 155);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .error{
    font-size: 16px;
    font-weight: bold;
    color: rgb(245, 10, 10);
  }
}

.body1 {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
}


  
  



@media screen and (max-width: 1000px){
  .body{
    height: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    h1{
      font-size: 30px;
      padding-bottom: 30px;
  }
  h3{
      font-size: 13px;
  }
  h4{
      font-size: 13px;
      padding-left: 5px;
      padding-top: 7px;
  }
  span{
      height: 15px;
  }
  .input {
    height: 35px;
    width: 300px;
  }
  select.input{
    padding-bottom: 7px;
  }
  
  .checkmark {
    height: 12px;
    width: 12px;
  }
  .container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 4px;
    height: 8px;
  }
  .join{
    margin-top: 20px;
    padding: 7px 0px;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    border: 5px white;
  }
  .join:hover {
    transform: scale(1.1);
    color: white;
  }

  } 
  .eye{
    top: -18px;
    left: 270px;
    width: 18px;
   }
   .capatcha {
    transform: scale(0.6); /* Increase size by 50% */
    transform-origin: 0 0; /* Set scaling origin to top-left corner */
    margin-left: 120px;
  }
  .verf {
    .input{
      width: 300px;
      margin-top: 10px;
    }
  }
   
  
}