
<div class="body">
    <h1>Change password</h1>
    <div class="pass_eye">
      <input class="input" type="{{showPassword ? 'text' : 'password'}}" placeholder="New password*" required name="password" [(ngModel)]="password">
      <img (click)="togglePasswordVisibility()" class="eye" src="/assets/hidden.png" alt="">
    </div>
    <div *ngIf="check_error" class="error">{{pasword}}</div>
    <input class="input" type="{{showPassword ? 'text' : 'password'}}"  placeholder="Confirm Password*" name="Confirm_Password" required [(ngModel)]="cpassword">
    <div *ngIf="confirm_password" class="error">Password not matching</div>
    <div *ngIf="check_error1" class="error">{{error}}</div>
    <span></span>
    <div class="join" (click)="onSubmit()">Update</div>
</div>
<app-spinkit *ngIf="isLoading"></app-spinkit>
