.html{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomandation{
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: 90%;
    padding-top: 50px;
  }
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    background-color: rgba(16,23,40,255);
    padding-top: 60px;
    .list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        width: 80%;
        margin-top: 50px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        .left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 40%;
            height: 90%;
            padding-bottom: 20px;
            h1{
                color: #9340ff;
                font-size: 40px;
                font-weight: bold;
            }
            p {
                font-size: 18px;
                height: 60%;
                color: white;
              }
              
              
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .review{
                    .rating {
                        font-size: 2rem;
                        color: #f1c40f; /* yellow */
                      }
                      
                      .star {
                        display: inline-block;
                        transition: color 0.2s;
                      }
                      
                      .star:hover,
                      .star:hover ~ .star {
                        color: #f39c12; /* orange */
                      }
                        
                }
                .price{
                    color: white;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            
            
              
              
        }&:nth-child(odd) {
            flex-direction: row-reverse;
    
          }
        .right{
            width: 35%;
            height: 80%;
            margin: 20px;
            border-radius: 30px;
            box-shadow: -50px -50px 100px rgba(31,65,187,255);
        }
        .right2{
          width: 35%;
            height: 80%;
            margin: 20px;
            border-radius: 30px;
            box-shadow: 50px -50px 100px rgba(31,65,187,255);
        }
        
    }
    .list:hover{
        transform: scale(1.06);
    }
    .row1{
        display: none;
       } 
    
}
.showMore{
    margin-top: -15px;
    padding-bottom: 100px;
    width: 25px;
    cursor: pointer;
}



@media screen and (max-width: 1000px) {
    .body{
        .list{
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            width: 90%;
            margin-top: 20px;
            
            .left{
            align-items: center;
            width: 100%;
            padding-bottom: 20px;
            h1{
                font-size: 25px;
            }
            p {
                font-size: 15px;
                height: auto;
                }
                
                
            .row{
                display: none;
            } 
            
        }&:nth-child(odd) {
            flex-direction: column;

            }
            .right , .right2{
            width: 80%;
            height: auto;
            margin: 20px;
            margin-top: 50px;
            border-radius: 20px;
            box-shadow: 0px 0px 100px rgba(31,65,187,255);
        }
        
        }
        .row1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            padding-top: 30px;
            .review1{
                .rating1 {
                    font-size: 1.5rem;
                    color: #f1c40f; /* yellow */
                  }
                  
                  .star1 {
                    display: inline-block;
                    transition: color 0.2s;
                  }
                  
                  .star1:hover,
                  .star1:hover ~ .star {
                    color: #f39c12; /* orange */
                  }
                    
            }
            .price1{
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
        } 
    }
}