<div class="body">
    <div class="earnings">
        <h1>Earnings</h1>
        <div class="row">
            <div class="column">
                <div class="title">Available funds</div>
                <div class="card">
                    <div class="title1">Available Balance</div>
                    <div class="ammount">US$0.00</div>
                    <div class="button">
                        <button>Withdraw</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="title">Future payments</div>
                <div class="card">
                    <div class="title1">Payments being cleared</div>
                    <div class="ammount">US$0.00</div>
                    <div class="line"></div>
                    <div class="title1">Payments for active orders</div>
                    <div class="ammount">US$0.00</div>
                </div>
            </div>
            <div class="column">
                <div class="title">All Earnings</div>
                <div class="card">
                    <div class="title1">Earnings to date</div>
                    <div class="ammount">US$0.00</div>
                    <div class="line"></div>
                    <div class="title1">Earnings for last mounth</div>
                    <div class="ammount">US$0.00</div>
                </div>
            </div>
        </div>
    </div>
</div>