<div class="body">
    <h1>Reset Password</h1>
    <input class="input" type="email" placeholder="Email" required [(ngModel)]="email" name="username" >
    <div *ngIf="check_email" class="error1">{{emaail}}</div>
    <span></span>
    <div *ngIf="error" class="error1">{{error_res}}</div>
    <ngx-recaptcha2 class="capatcha" (success)="handleSuccess()" (reset)="handleReset()" siteKey="6LdAs_skAAAAAJxfTO3eJRZp42yR0qEb_Rs4RvXO" #captchaRef></ngx-recaptcha2>
    <button [disabled]="capatcha" class="join" (click)="onSubmit()">Send</button>
</div>
<app-spinkit *ngIf="isLoading"></app-spinkit>
